img {
    max-width: 200px;
    border-radius: 50%;
}

#about-me {
    padding: 20px;
    margin: 20px auto;
    background-color: #f0f8ff; /* Light blue */
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
